mat-card {
    margin-bottom: 20px;
}

.fw {
    width: 100%;
}

.recipe-title {
    word-break: break-all;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
}

.recipes-table {
    width: 100%;
}

.recipe-title > a {
    font-size: 1.5rem;
    display: inline-block;
    color: #337ab7;
    font-weight: 600;
}

.recipe-category {
    color: #7b7b7b;
    margin: 0;
    padding-bottom: 10px;
}

.recipe-ad {
    margin: 0;
}


.even {
    background-color: rgb(249, 249, 249);
}

.recipe-title {
    word-break: break-all;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    height: 150px;
}

.recipes-table {
    width: 100%;
}

.recipe-title > a {
    font-size: 1.3rem;
    display: inline-block;
    color: #337ab7;
    font-weight: 600;
}

.recipe-category {
    color: #bbb;
    margin: 0;
    padding-bottom: 10px;

    a {
        color: #25b12d;
    }
}

.recipe-ad {
    margin: 0;
}

.recipe-author {

    span {
        color: rgb(87, 110, 210) !important;   
    }
}