<div *ngIf="loading" class="fw-fh-c">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!loading">
  <div class="container-wrapper">
    <div class="container padding-20">

      <mat-card>
        <mat-card-title>
          <h1 class="recipe-title">{{recipe.title}}</h1>
        </mat-card-title>
        <mat-card-content>
          <h2 class="recipe-category">Kategoria:
            <span>{{recipe.categoryName}}</span>
          </h2>
          <h3 class="recipe-ingredients">Składniki</h3>
          <ul class="ingredient-list">
            <li class="ingredient-item" *ngFor="let ingredient of recipe.ingredients">{{ingredient.name}}</li>
          </ul>
          <h3 class="recipe-desc">Sposób przygotowania</h3>
          <p class="desc">{{recipe.description}}</p>
          <p class="recipe-added">Czas dodania: <span>{{recipe.added | date: 'dd/MM/yyyy'}}</span></p>
          <p class="recipe-author">Autor:
            <a>{{recipe.author}}</a>
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
